* {background-color:#212121 ;
    color: #FAFAFA}
h1 { font-size: 120px ; 
    font-family:familia de fuentes: 'Montserrat', sans-serif;}

    p{ font-size: 48px; 
    font-family:familia de fuentes:familia de fuentes: 'Poppins', sans-serif; }

span {color:#BE3969}

