h1 {font-size: 100px; font-family:'Montserrat'}

section {font-family: "Raleway"}

.color { color: #3C3C3C}

a {color: #81D4D4; text-decoration: none }

.cursiva {font-style: italic;}

.negrita { font-weight: bold;}

