.cero{color:blue; font-weight: bold}
.cinco{color: rgba(0, 0, 255, 0.767);}
.diez{color: rgba(0, 0, 255, 0.521);}
.quince{color:rgba(0, 0, 255, 0.281))}
.veinte{color: rgba(0, 0, 255, 0.171);}
.veinticinco{color:white}
.treinta{color:rgba(255, 230, 0, 0.479)}
.treintaycinco{color:yellow}
.cuarenta{color:rgba(255, 68, 0, 0.596)}
.cuarentaycinco{color:orangered}
.cincuenta{color:red; font-weight:bold}
